.form-inline .form-control {
    width: 100px;/* Adjust as needed */
}
.container-fluid {
    width: 100% !important;
    max-width: 100% !important;
    padding: 0 !important;
    margin: 0 !important;
}


.editable {
    width: 150px; /* Adjust as needed */
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.tooltip-inner {
    max-width: 300px; /* or whatever width you desire */
    text-align: left; /* to align the content to the left */
}
